---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getBlogs, getBlogDetail } from "../lib/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{blog.title}</title>
  </head>
  <body>
    <Header />
    <main>
      <h1 class="title">{blog.title}</h1>
      <p class="publishedAt">公開日時：{blog.publishedAt}</p>
      <div class="post" set:html={blog.content} />
    </main>
    <Footer />
  </body>
</html>

<style>
  h1,
  h2 {
    font-weight: lighter;
  }
  .post {
    background-color: #b7eeee;
    border-radius: 1em;
    padding: 2rem;
  }
</style>
